{% comment %}theme-check-disable TemplateLength{% endcomment %}
{% comment %} 
json
[
    {
        "color": "BLACK",
        "product_url": "/products/1-2-sleeve-v-neck-tee-w-pocket-black",
        "product_id": "7136031768747",
        "variant_id": "41282898395307",
        "variant_img_url": "https://cdn.shopify.com/s/files/1/0590/4298/8203/products/LM8095K15_BLACK_LS1_7110e90f-9f58-4d6e-846c-3869d11c66be.jpg?v=1639234671",
        "availability": true,
        "tag": "color"
    },
    {

        "color": "NAVY",
        "product_url": "/products/1-2-sleeve-v-neck-tee-w-pocket-navy",
        "product_id": "7136031899819",
        "variant_id": "41282908717227",
        "variant_img_url": "https://cdn.shopify.com/s/files/1/0590/4298/8203/products/LM8095K15_BLACK_SF_81570268-184a-4557-824e-29d90ca5fd4a.jpg?v=1639234729",
        "availability": true,
        "tag": "color"
    },
    {

        "color": "RED",
        "product_url": "/products/1-2-sleeve-v-neck-tee-w-pocket-red",
        "product_id": "7135980126379",
        "variant_id": "41282579628203",
        "variant_img_url": "https://cdn.shopify.com/s/files/1/0590/4298/8203/products/LM8095K15_PAPRIKA_RED_LS1_6e9be4c5-30b0-4a94-b575-379be04e5836.jpg?v=1639227340",
        "availability": true,
        "tag": "color"
    },
    {

        "color": "WHITE",
        "product_url": "/products/1-2-sleeve-v-neck-tee-w-pocket-white",
        "product_id": "7136031375531",
        "variant_id": "41282896003243",
        "variant_img_url": "https://cdn.shopify.com/s/files/1/0590/4298/8203/products/LM8095K15-WCN-F_f4fe5578-8a88-4f33-aebf-bcf4fafb89dd.jpg?v=1639234577",
        "availability": true,
        "tag": "color"
    }
]
{% endcomment %}
<div style="padding: 20px;">
  {{ product.title | escape }}
  <hr>
  {% comment %} 
  test {{ all_products['1-2-sleeve-v-neck-tee-w-pocket-black'].title }}<br>
  test {{ all_products['1-2-sleeve-v-neck-tee-w-pocket-white'].title }}<br>
  test {{ all_products['1-2-sleeve-v-neck-tee-w-pocket-navy'].title }}<br>
  test {{ all_products['1-2-sleeve-v-neck-tee-w-pocket-red'].title }}<br>
  <br>
  {%- assign product = section.settings.product -%}
  {{ product.title | escape }}
  
  <br>
{% endcomment %}

  {%- assign productBundleMeta = product.metafields.product-bundles.bundle | strip -%}
  {% comment %} <br>{{ productBundleMeta }} {% endcomment %}
  {% assign productMeta = productBundleMeta | split: '"product_url": "' %}
  <ul>
    {% for meta in productMeta %}

      {% assign metafield = meta | split: 'product_id' | first | remove: '"' | remove: ',' %}
      {% if metafield contains 'color' %}{% continue %}{% else %}
      {%- assign metafield1 = metafield | remove: "/products/" | strip -%}
      {%- assign product = all_products[metafield1] -%}
      <li>{{ product.title }} - {{ product.price | money_with_currency }}, Available: {{ variant.available }}<br>
      {% for variant in product.variants %}
        'quantity': {{ variant.inventory_quantity | default: 0 }},
      {% endfor %}

      <div style="overflow:hidden;display: block;white-space: nowrap;text-overflow: ellipsis;">{{ product | json}}</div>
    </li>
      {% endif %}

    {%- endfor -%}
  </ul>
  {% comment %}{% endcomment %}
</div>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product.presets.name"
    }
  ]
}
{% endschema %}
